:root{
  --primary-color: #1c355e;
  --text-color: #2d2d2d;
  --btn-color: #1c355e;
}

*{
  margin: 0;
  padding: 0;
}

/* GLOBAL */
h1,h2,h3,h4,h5,h6{
  color: var(--text-color);
}
h1{
  font-size: 48px;
}
h2{
  font-size: 42px;
}
h3{
  font-size: 36px;
}
h4{
  font-size: 32px;
}
h4{
  font-size: 28px;
}
h6{
  font-size: 24px;
}
p{
  font-size: 18px;
}

.text-uppercase{
  text-transform: uppercase;
}

.text-capitalize{
  text-transform: capitalize;
}

.p-10{
  padding: 10px;
}
.mt-10{
  margin-top: 10px;
}

.text-center{
  text-align: center;
}

.btn-primary{
  background-color: var(--btn-color);
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

body{
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.topNavBar{
  background-color: var(--primary-color);
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.topNavBar .social-icons{
  padding-left: 20px;
}

.topNavBar .social-icons ul,
 .topNavBar .user-login ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.topNavBar .social-icons ul li a,
.topNavBar .user-login ul li a{
  color: #fff;
  text-decoration: none;
}

nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  height: 100px;
}

nav .navbar-logo img{
  height: 150px;
}

nav .navbar-menu .menuList{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
}

nav .navbar-menu .menuList .menu-item{
  padding: 10px;
}

nav .navbar-menu .menuList .menu-item a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: var(--text-color);
  transition: 0.1s all ease;
}

nav .navbar-menu .menuList .menu-item a:hover{
  color: var(--primary-color);
}

nav .navbar-cart{
  position: relative;
  margin-right: 5px;
}

nav .navbar-cart a{
  font-size: 20px;
  color: #2d2d2d;
  text-decoration: none;
}

nav .navbar-cart span{
  position: absolute;
  background: red;
  border-radius: 50%;
  color: #fff;
  height: 15px;
  width: 15px;
  text-align: center;
  font-size: 12px;
}

/* HERO SECTION */
.heroSection{
  background-color: #dfdfdf;
  background: #dfdfdf;
  display: grid;
  grid-template-columns: 45% auto;
  padding: 50px 0;
}

.heroSection .hero-imageSide img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.heroSection .hero-contentSide{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  padding: 40px 0;
}

.heroSection .hero-contentSide .upper-text h3{
  font-size: 60px;
}

.heroSection .hero-contentSide .middle-text h4{
  font-size: 40px;
  font-weight: 600;
}

.heroSection .hero-contentSide .lower-text h5{
  font-size: 36px;
  font-weight: 500;
}

.heroSection .hero-contentSide .hero-btn{
  width: 350px;
  margin-left: 15px;
}

.heroSection .hero-contentSide .hero-btn .btn-primary{
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 170px;
  height: 40px;
  transition: 0.3s all ease-in;
  cursor: pointer;
  font-size: 18px;
}

.heroSection .hero-contentSide .hero-btn .btn-primary:hover{
  background-color: #fff;
  border: 1px solid var(--primary-color);
  color:var(--primary-color);
}

.section-title-padding{
  padding: 50px 0;
}

/* PRODUCT SECTION */
.section-padding{
  padding: 30px 0;
}
.container{
  padding: 0 40px;
}
.product-list{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 15px;
}

.product-list .product-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 20px;
  margin-bottom: 30px;
}

.product-list .product-item .product-item-content{
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.product-item-img img{
  width: 100%;
  object-fit: contain;
}

.product-item .productPrice p{
  font-size: 22px;
}

.product-item .product-item-content .product-item-btns{
  padding: 10px 0;
  display: flex;
  gap: 5px;
}

.sectionBtn{
  padding: 20px 0;
  text-align: center;
  cursor: pointer;
}

.sectionBtn .btn-primary {
  width: 200px;
  padding: 12px;
  border: none;
  text-align: center;
  transition: 0.3s all ease-in;
  cursor: pointer;
}

.sectionBtn .btn-primary:hover{
  background-color: #fff;
  color: var(--btn-color);
  border: 1px solid var(--btn-color);
  cursor: pointer;
}

.btn{
  cursor:pointer;
  transform: 0.3s all ease-in;
  border: 1px solid var(--primary-color);

}

.btn:hover{
  background-color: #fff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}